* {
  box-sizing: border-box;
  margin: 0;
}

body  {
  background-image: url(../images/ocean-fish.png);
  background-size: 100%;
  background-attachment: fixed;
  width: 980px;
}
h1 {
  font-size: 40px;
  text-align: center;
  color: white;
}
h4 {
  font-size: 14px;
}
p#winner {
  font-size: 25px;
  margin-top: 70px;
}

.choiceButton {
  color: black;
  width: 80%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 18px;
}
.choiceButton:hover {
  background-color: #a3abc2;
}

.col-sm-12 {
  margin-left: 30px;
}
.col-sm-9 {
margin-left: 80px;  
}

.playBox {
  width:200px;
  min-height:200px;    
  margin:5px;
  background:#fff;
  font-size:14px;
  text-align: center;
  display:inline-block;
  position:relative;
  float:left;
  border-style: solid;
  border-color: grey;
  border-width: 3px;
}

.col-sm-9>p {
  text-align: center;
  color: white;
}
p#about,
#game>p {
  color: white;
}

#game {
  margin-left: 260px;
}

#chatWindow {
  height: 300px;
  width: 450px;
  background-color: white;
  margin-left: 100px;
}

input#message {
  width: 405px;
  float: left;
  margin-left: 100px;
}

form#player-form {
  margin-left: -25px;
  margin-bottom: 10px;
}


#chatWindow {
  margin-left: 100px;
}

#addPlayer {
  height: 40px;
}
